.shaded{
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.2));
	border-color: red;
}

.project-card{
	margin-bottom:20px;
}
.internship-text{
	box-shadow: 0 16px 32px 0 rgba(255,69,0, 0.2), 0 24px 80px 0 rgba(255,69,0, 0.19);
}
.project-text{
	/*background-color:#fffafa;*/
	background-color:#fffaf0;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

	box-shadow: 0 4px 8px 0 rgba(255,0,0,0.2), 0 6px 20px 0 rgba(255,0,0, 0.19);
	
}
.project-text:hover{
	box-shadow: 0 16px 32px 0 rgba(255,69,0, 0.2), 0 24px 80px 0 rgba(255,69,0, 0.19);
	/*background-color: #dc3545;*/
}

@media(max-width: 576px) and (min-width: 200px){
	
.project-text:hover{
	box-shadow: 0 8px 16px 0 rgba(255,69,0, 0.2), 0 12px 40px 0 rgba(255,69,0, 0.19);
}
}
